$transparent-blue: #aaefff9f;
$transparent-blue-transparent: rgba(123, 231, 255, 0.5);
$light-blue: #aef1ff;
$mid-blue: #60f7ff;
$deep-blue1: #5485cd;
$deep-blue2: #44b4cf;
$deep-blue3: #216fa7;
$deepest-blue: #0d2e6d;
$light-green: #c2ffac;
$mid-green: #b3f59b;
$mint: #24c4a0;
$pink: #ffb9b9;
$deep-pink: #ff7a7a;

$tetro-blue: #35bcff;
$tetro-purple: #5a1366;
$tetro-yellow: #dab709;
$tetro-pink: #ffcbca;
$tetro-orange: #f8a552;
