* {
  margin: 0;
  padding: 0; }

ul li {
  list-style: none; }

button {
  outline: none;
  border: none; }

.tetris-container {
  display: flex;
  position: relative;
  top: 20px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  width: 55%;
  min-height: 590px;
  margin: 0 auto; }
