* {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

button {
  outline: none;
  border: none;
}

.tetris-container {
  display: flex;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  top: 20px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  width: 530px;
  min-height: 590px; 
}
