.well-container {
  flex: 5;
  background-color: #e4faff; }
  .well-container .well-grid {
    position: relative;
    width: 100%;
    height: 100%; }
    .well-container .well-grid li.square-block-container {
      position: absolute; }
      .well-container .well-grid li.square-block-container .square-block {
        width: 100%;
        height: 100%; }
