@import './colors.scss';

.well-container {
  flex: 5;
  background-color: $transparent-blue;
  .well-grid {
    position: relative;
    width: 100%;
    height: 100%;
    li.square-block-container {
      position: absolute;
      .square-block {
        width: 100%;
        height: 100%;
      }
    }
  }
}
